<div class="loginForm">
    <form>
        <div class="form-control">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username" />
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password" />
        </div>
        <div class="btn-groups">
            <button class="loginBtn" (click)="login()">login</button>
            <span>OR</span>
            <button class="registerBtn" (click)="createUser()">Create a new user</button>
        </div>
    </form>

</div>