<main class="contentWraper">
  <app-user-list [users]="names"></app-user-list>
  <section class="content">
    <form #userForm="ngForm" (ngSubmit)="addUser()">
      <input
        type="text"
        placeholder="New user"
        name="name"
        id="name"
        [(ngModel)]="name"
     
      />
      <div class="form-group">
        <button  [disabled]="!userForm.valid" class="btn-add">Add</button>
        <button class="btn-remove" (click)="removeUser(name)">Remove</button>
      </div>
    </form>
  </section>
</main>
